#root {
  max-width: 100vw;
}
body {
  --color-background: #fafafa;
  --color-foreground: #1f2023;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1em;
}
@media (prefers-color-scheme: dark) {
  body {
    --color-background: #1f2023;
    --color-foreground: #efefef;
  }
}
